<div class="jumbotron" id="landing_jumbotron">
	<div class="container">
		<h1>Welcome to Maceo's Facility Maintenance Service</h1>
		<h2>Your number one source for cleaning!</h2>
	</div>
</div>

<div class="container" id="header-info">
	<div class="row">
		<div class="col-sm-4">
			<h3>Reputable business</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure natus cum aperiam fuga error deserunt iste nostrum et amet, id, voluptatibus dignissimos nihil doloremque pariatur ullam a omnis laborum, repudiandae.</p>
		</div>
		<div class="col-sm-4">
			<h3>Quality of work</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure natus cum aperiam fuga error deserunt iste nostrum et amet, id, voluptatibus dignissimos nihil doloremque pariatur ullam a omnis laborum, repudiandae.</p>
		</div>
		<div class="col-sm-4">
			<h3>Green products</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure natus cum aperiam fuga error deserunt iste nostrum et amet, id, voluptatibus dignissimos nihil doloremque pariatur ullam a omnis laborum, repudiandae.</p>
		</div>
	</div>
</div>