// Place all the styles related to the services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$Abril: 'Abril Fatface', cursive;
$color: #031634;
$open-sans: open-sans;

#serv {
	font-family: $Abril;
	color: $color;
	text-align: center;
	padding-bottom: 40px;
}

#cols {
	height: 450px;
}
.images {
	height: 190px;
  width: 400px;
}

.panel-title {
	font-family: $Abril;
	color: $color;
}

.panel-body {
	padding: 0;
}

.btn-default {
	a {
		text-decoration: none;
		font-family: $Abril;
		font-size: 1em;
		color: $color;
		&:hover {
			color: #000;
		}
	}
	&:hover {
		background-color: #fff;
	}
}

/* Show Page */

#show_page_jumbotron {
	background-color: $color;
	h1 {
		color: #fff;
		font-family: $Abril;
	}
}