<!DOCTYPE html>
<html>
<head>
  <title>FMS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav>
		<ul>
			<li>Home</li>
			<li>About</li>
			<li>Services</li>
			<li>Contact</li>
		</ul>
	</nav>
<%= yield %>

</body>
</html>
